[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pymysql = "*"
cryptography = "*"
mysql-connector-python = "*"
mysql = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
